doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title=pageTitle
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        -if(terminal == 'pc')
            meta(http-equiv="Cache-Control", content="no-transform")
            meta(http-equiv="Cache-Control", content="no-siteapp")
        -else
            meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
            meta(name="format-detection", content="telephone=no")
        meta(name="applicable-device", content="#{terminal}")
        meta(name="baidu-site-verification", content="LodEhkslhj")
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="shortcut icon", href="#{host}/img/favicon.ico", type="image/x-icon")
    body
        //- .header !{headerHtml}
        //- .menu-child
        //-     each value, key in childMenus
        //-         div(class="#{key+'-child-menu' + (type.indexOf(key) > -1? ' active': '')}")
        //-             each item in value
        //-                 a(href="#{host+'/'+ key +'/'+item.type}/", title="#{item.name}", class="#{(type.indexOf(item.type) > -1? 'active' : '')}") #{item.name}
        include ../include/header.jade
        .banner.idx
            img(src="#{host}/img/inba.jpg", alt="情趣综合平台-banner")
        .index-item
            .xingwen-list
                h2.series #{listData.xingwen.name}
                    a.rf(href="#{host}/xingwen/", title="星闻") 更多
                ul
                    each item in listData.xingwen.list
                        li
                            .list-img
                                a(href="#{host+'/xingwen/'+item.type+'/'+item.id}", title="#{item.title}", target="_blank")
                                    img(src="#{item.img.replace('http://img.mingxing.com','http://img.qqzhpt.com/xingwenstatic')}", alt="#{item.title}")
                            .list-cont
                                a(href="#{host+'/xingwen/'+item.type+'/'+item.id}", title="#{item.title}", target="_blank")
                                    h3 #{item.title}
                                p #{item.txt}
                                i #{item.time}
            .meitu-list
                h2.series #{listData.meitu.name}
                    a.rf(href="#{host}/meitu/", title="精品美图") 更多
                .data-list
                    each vv in listData.meitu.list
                        a(href="#{host+'/meitu/detail/'+vv.id}", title="#{vv.title}", target="_blank")
                            .list-img
                                img(src="#{vv.img.replace('https://mtl.ttsqgs.com','http://img.qqzhpt.com/meitustatic')}", alt="#{vv.title}")
                            .list-profile
                                p #{vv.imglen}
                                p #{vv.jigou}
                                p #{vv.mutie}
                            .list-title
                                strong #{vv.title}
        .friendly
            h3 友情链接
            <a href='http://www.jioonn.com' target='_blank'>成人用品</a>
            span 美女图片                   
            span 爆乳美女
            span 极品美女
            span 韩国风俗娘
            span 性感少妇
            span 性感尤物
            span 街拍美女
            span 甜美女生
            span 清新美女
            span 户外美女
            span 长腿美女
            span 性感嫩模
            span 性感女神
            span 性感美女
            span 美胸美女
            span 内衣美女
            span 短发美女
            span 比基尼美女
            span 韩国美女
            span 超高清美女图片
            span 阿顺美图
        script
            include ../include/header_menu.js
        include ../include/footer.jade