doctype html 5
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title=pageTitle
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        -if(terminal == 'pc')
            meta(http-equiv="Cache-Control", content="no-transform")
            meta(http-equiv="Cache-Control", content="no-siteapp")
        -else
            meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
            meta(name="format-detection", content="telephone=no")
        meta(name="applicable-device", content="#{terminal}")
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="shortcut icon", href="#{host}/img/favicon.ico", type="image/x-icon")
    body
        include ../include/header.jade
        .search-result
            h2 当前位置：星闻&nbsp;&nbsp;&nbsp;搜索字段：#{searchCont}&nbsp;&nbsp;&nbsp;共：#{searchTotal}条
        .xingwen-list.xingwen
            ul
                each item in listData
                    li
                        .list-img
                            a(href="#{host+'/xingwen/'+item.type+'/'+item.id}", title="#{item.title}", target="_blank")
                                img(src="#{item.img.replace('http://img.mingxing.com','http://img.qqzhpt.com/xingwenstatic')}", alt="#{item.title}")
                        .list-cont
                            a(href="#{host+'/xingwen/'+item.type+'/'+item.id}", title="#{item.title}", target="_blank")
                                h3 #{item.title}
                            p #{item.txt}
                            i #{item.time}
            -if(!listData.length)
                span.no-data 没有找到数据，请重新选择！
        .meitu-page !{page} 
        script
            include ../include/header_menu.js
        include ../include/footer.jade
        